{% extends 'base.html.twig' %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}

{% block body %}
    <div class="article_category">
         <a href="#" class="category-link">{{ article.categoryTitle }}</a>
    </div>

    <br>

    <div>
        <img src="{{ article.image }}">
    </div>

    <br>

    <div class="article_header">
        <div class="block">
            <div class="article_title">
              <h1>{{ article.title }}</h1>
            </div>
        </div>
        <div class="block2">
            <div class="article_date">
              <time>{{ article.publicationDate | date('d-m-Y') }}</time>
            </div>
        </div>
    </div>

    <p>{{ article.bodyArticle }}</p>

    <div class="clearfix"></div>

{% endblock %}
